body{
width: 100%;
height: 100%;
background-color: #253529;
}
.code{
margin-top: 1%;
height: 300px;
background-color:#282923 ;
color: #1FF81F;
font-size: 20px;
font-family: monospace;
margin-left: 3%;
}
.comp{
	border: 5px solid black;
	background-color: white;
	margin-left: 25%;
}
button{
border-radius: 15%;
width: 100px;
height: 80px;
margin-left: 0.5%;
background-color: greenyellow;
user-select:none;
}
img{
width: 60px;
user-select:none;
}
span{
font-family: fantasy;
font-size: 30px ;
color: #1D42F8;
margin-left: 25%;
user-select: none;

}
